LIVEKIT_URL=wss://voice-agent-7fekawww.livekit.cloud
LIVEKIT_API_KEY=APIgUYSsdWwiBid
LIVEKIT_API_SECRET=CkDS7hRW3fW2ey84NTItr1jqBRrZLuoWX4ndTOfoHXcB
SARVAM_API_KEY=sk_2kog7tz5_N7ei4DnFroyYjRePlxX24eIt

# For making outbound calls via PSTN (Twilio/Plivo)
SIP_TRUNK_ID=ST_your_sip_trunk_id
